.nav-bar-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px 2px 10px;
  margin-top: -10px;
  top: 0;
  background-color: black;
  backdrop-filter: blur(20px);
  position: fixed;
  width: 100%;
  z-index: 1000;

  .logo-div {
    display: flex;
    text-decoration: none;
    color: azure;
    margin-left: 50px;
    align-items: center;
    p {
      text-align: center;
      letter-spacing: 1px;
      color: #7c7c7e;
      margin-top: 25px;
      text-decoration: none;
      font-family: Tangerine;
      letter-spacing: 2px;
      font-size: 20px;
      &:hover {
        color: #ffd700;
      }
      span {
        color: #ffd700;
      }
    }
  }

  .nav-bar-n {
    display: flex;
    gap: 70px;
    margin-top: 5px;
    margin-right: 70px;

    div {
      font-size: 22px;
      color: #4d4d4e;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: #ffd700;

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: "";
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }

      &:first-child {
        &:after {
          content: "HOME";
        }
      }
    }
    div.about-link {
      &:after {
        content: "ABOUT";
      }
    }

    div.contact-link {
      &:after {
        content: "CONTACT";
      }
    }

    // div.skill-link {
    //   &:after {
    //     content: "SKILLS";
    //   }
    // }

    // div.project-link {
    //   &:after {
    //     content: "PROJECTS";
    //   }
    // }
    div.active {
      svg {
        color: #ffd700;
      }
    }
  }
}
